@import "_variables.scss";
@import "bootstrap";
@import "_bootswatch.scss";

html, body {
	overflow-x: hidden;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

a {
	text-decoration: none;
}
